{% extends "layout.html" %}
{% block content %}
    <h1>HarMoneyCA Projevt Managment System</h1>
    <p>HarMoneyCA is a web-based (Online Platform) project management and team collaboration
        and communication software application that has social networking capabilities.
        This software aims to address many of the challenges that emerge throughout a project life span by providing
        central place where team members and clients can go to share, communicate, collaborate, follow up,
        learn, and solve business problems more efficiently.</p>
{% endblock content %}
